PORT=3000
MONGODB_URI=mongodb://usuario:senha@shard-00-00.xxxxx.mongodb.net:27017,shard-00-01.xxxxx.mongodb.net:27017,shard-00-02.xxxxx.mongodb.net:27017/?ssl=true&replicaSet=atlas-xxxxx&authSource=admin&appName=Cluster0
JWT_SECRET=ludus_acompanha_secret_2026